﻿@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    td {
        padding: 0 15px;
    }
</style>

<script type="text/javascript">
    document.getElementById('usernameBuy').value = localStorage.getItem("username");
    document.getElementById('departureId').onclick = getuser();
    
    async function reloadPage() {
        //GET sub
      //  while (true) {
            const userAction = async () => {
                const response = await fetch('http://autismpad:8519/HomeController/SubscribeToRefresh');
                const myJson = await response.json(); //extract JSON from the http response
                // do something with myJson
                console.log(myJson);
                if (myJson == true) {
                    window.location.reload();
                }
            }
            //await delay(10000);
     //   }
    }
   // window.onload = reloadPage;
    setInterval(reloadPage, 10000);

    function getuser() {
        document.getElementById('usernameBuy').value = localStorage.getItem("username");
        document.getElementById('usernameCancel').value = localStorage.getItem("username");
    }

    function store() {
        var input = document.getElementById("username");
        localStorage.setItem("username", input.value);
        document.getElementById('usernameBuy').value = localStorage.getItem("username");
    }

    function save_data() {
        var departureid = document.getElementById("departureId");
        var ticketnum = document.getElementById("ticketNum");
        var usernamem = localStorage.getItem("username");
        // etc..
        const params = {
            departureId: departureid,
            ticketNum: ticketnum,
            username: usernamem
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch('http://autismpad:8519/HomeController/Buy', options)
            .then(response => response.json())
            .then(response => {
                // Do something with response.
            });
    }
</script>


@if (ViewData["LoggedIn"] == null)
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("LogIn", "HomeController")">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" value=""><br>
                <input type="password" id="password" name="password" value=""><br><br>
                <input type="submit" onclick="store()" value="Submit">
            </form>
        </div>
    </div>
}
else if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] == "")
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("LogIn", "HomeController")">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" value=""><br>
                <input type="password" id="password" name="password" value=""><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
}

@if (ViewData["LoggedIn"] == null)
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("Register", "HomeController")">
                <label for="username">Username:</label><br>
                <input type="text" id="usermane" name="username" value=""><br>
                <label for="email">email:</label><br>
                <input type="text" id="email" name="email" value=""><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" value=""><br><br>
                <label for="bankaccount">Bank account:</label><br>
                <input type="text" id="bankaccount" name="bankaccount" value=""><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
}
else if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] == "")
{
    <div class="row">
        <div class="col-md-3">
            <form method="post" action="@Url.Action("Register", "HomeController")">
                <label for="username">Username:</label><br>
                <input type="text" id="usermane" name="username" value=""><br>
                <label for="email">email:</label><br>
                <input type="text" id="email" name="email" value=""><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" value=""><br><br>
                <label for="bankaccount">Bank account:</label><br>
                <input type="text" id="bankaccount" name="bankaccount" value=""><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/plane-header.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Buy a plane ticket.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/train-header.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Travel via railroad.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/bus-header.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Cheap bus tickets.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <form method="post" action="@Url.Action("PostData", "HomeController")">
            <br><br>
            <label for="destination">Add a new departure:</label><br>
            <input type="text" id="destination" name="destination" value="Belgrade"><br>
            <label for="types">Choose a type:</label>

            <select name="types" id="types">
                <option value="bus">Bus</option>
                <option value="train">Train</option>
                <option value="plane">Plane</option>
            </select>
            <br><br>
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price" value="0"><br><br>
            <label for="date1">Date of departure:</label><br>
            <input type="datetime-local" id="date1" name="date1" value=""><br><br>
            <label for="date2">Date of return:</label><br>
            <input type="datetime-local" id="date2" name="date2" value=""><br><br>
            <label for="tickets">Number of tickets:</label><br>
            <input type="number" id="tickets" name="tickets" value="0"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <form method="post" action="@Url.Action("FilterData", "HomeController")">
            <label for="types">Filter by type:</label>
            <select name="types" id="types">
                <option value="bus">Bus</option>
                <option value="train">Train</option>
                <option value="plane">Plane</option>
            </select>
            <label for="date1">Filter by Date of departure:</label><br>
            <input type="datetime-local" id="date1" name="date1" value=""><br><br>
            <label for="types">Are there tickets:</label>
            <select name="hasTickets" id="hasTickets">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <input type="submit" value="Filter">
        </form>
    </div>
</div>



    <div class="row">
        @if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] != "")
        {
            <table class="arrowes-table table-striped">
                <caption>All departures:</caption>
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>DateOfDeparture</th>
                        <th>DateOfReturn</th>
                        <th>Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(ViewData["Departures"])
                </tbody>
            </table>
        }
        else if (ViewData["Filtered"] == "yes")
        {
            <table class="arrowes-table table-striped">
                <caption>All departures:</caption>
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>DateOfDeparture</th>
                        <th>DateOfReturn</th>
                        <th>Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(ViewData["FilteredDepartures"])
                </tbody>
            </table>
        }
        else if (ViewData["Filtered"] != "yes")
        {
            @Html.Partial("PartialTable");
        }
    </div>




    <div class="row">
        @if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] != "")
        {
            <table class="arrowes-table table-striped">
                <caption>Weather at:</caption>
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Weather</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(ViewData["Weather"])
                </tbody>
            </table>
        }
        else
        {
            @Html.Partial("PartialTableWeather");
        }
    </div>


    @if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] != "")
    {
        <div class="row">
            <div class="col-md-3">
                <form method="post"  action="@Url.Action("Buy", "HomeController")">
                    <label for="types">Choose departure ID:</label>

                    @Html.DropDownList("departureId", (IEnumerable
         <SelectListItem>)ViewBag.departureId)
                    <label for="ticketNum">Number of tickets:</label><br>
                    <input type="number" onclick="getuser()" id="ticketNum" name="ticketNum" value="0"><br>
                    <input type="hidden" name="usernameBuy" id="usernameBuy" value="" />
                    <br>
                    <input type="submit" onclick="getuser()" value="Buy">
                </form>
            </div>
        </div>
    }

    @if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] != "")
    {
        <div class="row">
            <div class="col-md-3">
                <form method="post" onclick="getuser()" action="@Url.Action("Cancel", "HomeController")">
                    <label for="types">Cancel a bought departures tickets:</label>
                    @Html.DropDownList("departureId", (IEnumerable
    <SelectListItem>)ViewBag.departurePurchasedId)
                    <input type="hidden" name="usernameCancel" id="usernameCancel" value="" />
                    <input type="submit" onclick="getuser()" value="Cancel">
                </form>
            </div>
        </div>


        <div class="row">
            <table class="arrowes-table table-striped">
                <caption>Current users tickets</caption>
                <thead>
                    <tr>
                        <th>Departure ID</th>
                        <th>Tickets Bought</th>
                        <th>Date Purchased</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(ViewData["UsersDepartures"])
                </tbody>
            </table>
        </div>
    }

    <div class="row">
        @if (ViewData["LoggedIn"] != null && ViewData["LoggedIn"] != "")
        {
           
        }
        else
        {
            @Html.Partial("PartialHistoricalTable");
        }
    </div>
