﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

        $(document).ready(function () {
            //Call EmpDetails jsonResult Method  
            $.getJSON("HomeController/GetHistoricalData",
                function (json) {
                    var tr;
                    //Append each row to html table  
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].destination + "</td>");
                        tr.append("<td>" + json[i].type + "</td>");
                        tr.append("<td>" + json[i].price + "</td>");
                        tr.append("<td>" + json[i].dateOfDeparture + "</td>");
                        tr.append("<td>" + json[i].dateOfReturn + "</td>");
                        tr.append("<td>" + json[i].tickets + "</td>");

                        $("#tbl_3 > tbody").append(tr);
                    }
                });


        });

    function convertDate(d) {
        var p = d.split("-");
        var pp = p[2].split("T");
        console.log((p[0] + p[1] + pp[0]));
        return +(p[0] + p[1] + pp[0]);
    }

    function sortByDate(n) {
        var tbody = document.querySelector("#tbl_3 tbody");
        // get trs as array for ease of use
        var rows = [].slice.call(tbody.querySelectorAll("tr"));

        rows.sort(function (a, b) {
            return convertDate(a.cells[n].innerHTML) - convertDate(b.cells[n].innerHTML);
        });

        rows.forEach(function (v) {
            tbody.appendChild(v); // note that .appendChild() *moves* elements
        });
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tbl_3");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>


<table class="arrowes-table table-striped" id="tbl_3">
    <caption>Old expired departures:</caption>
    <thead>
        <tr>
            <th>Destination</th>
            <th>Type</th>
            <th>Price</th>
            <th onclick="sortByDate(3)">DateOfDeparture</th>
            <th>DateOfReturn</th>
            <th onclick="sortTable(5)">Tickets</th>

        </tr>
    </thead>

    <tbody>
    </tbody>
</table>


