﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            //Call EmpDetails jsonResult Method  
            $.getJSON("HomeController/GetWeatherData",
                function (json) {
                    var tr;
                    //Append each row to html table  
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].destination + "</td>");
                        tr.append("<td>" + json[i].weatherString + "</td>");

                        $("#tbl_2 > tbody").append(tr);
                    }
                });


        });
           
            
      
    </script>




    <table class="arrowes-table table-striped" id="tbl_2">
        <caption>Current weather:</caption>
        <thead>
            <tr>
                
                <th>Destination</th>
                <th>Weather</th>

            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
