﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            //Call EmpDetails jsonResult Method  
            $.getJSON("HomeController/GetData",
                function (json) {
                    var tr;
                    //Append each row to html table  
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].destination + "</td>");
                        tr.append("<td>" + json[i].type + "</td>");
                        tr.append("<td>" + json[i].price + "</td>");
                        tr.append("<td>" + json[i].dateOfDeparture + "</td>");
                        tr.append("<td>" + json[i].dateOfReturn + "</td>");
                        tr.append("<td>" + json[i].tickets + "</td>");
                      
                        $("#tbl_1 > tbody").append(tr);
                    }
                });
           
            
        });
           
    </script>


    <table class="arrowes-table table-striped" id="tbl_1">
        <caption>Buy new tickets here:</caption>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Type</th>
                <th>Price</th>
                <th>DateOfDeparture</th>
                <th>DateOfReturn</th>
                <th>Tickets</th>
                
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>


